<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.performanceactive.plugins.camera"
    version="1.4">

    <name>Custom Camera</name>
    <description>Custom Camera Plugin</description>
    <license>Apache 2.0</license>
    <keywords>custom,camera</keywords>

<engines>
    <engine name="cordova" version=">=3.1.0" />
</engines>

<js-module src="www/js/customcamera.js" name="customCamera">
    <clobbers target="navigator.customCamera" />
</js-module>

<platform name="ios">
    <config-file target="config.xml" parent="/*">
        <feature name="CustomCamera">
            <param name="ios-package" value="CustomCamera" />
        </feature>
    </config-file>
    <framework src="AVFoundation.framework" />
    <header-file src="platforms/ios/CustomCamera/Classes/CustomCamera.h" />
    <header-file src="platforms/ios/CustomCamera/Classes/CustomCameraViewController.h" />
    <source-file src="platforms/ios/CustomCamera/Classes/CustomCamera.m" />
    <source-file src="platforms/ios/CustomCamera/Classes/CustomCameraViewController.m" />
</platform>

<platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
        <feature name="CustomCamera">
            <param name="android-package" value="com.performanceactive.plugins.camera.CustomCamera"/>
        </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/*">
        <uses-permission android:name="android.permission.CAMERA" />
        <uses-feature android:name="android.hardware.camera" android:required="true" />
        <uses-feature android:name="android.hardware.camera.autofocus" android:required="true" />
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <activity android:name="com.performanceactive.plugins.camera.CustomCameraActivity" android:screenOrientation="portrait" android:configChanges="orientation">
        </activity>
    </config-file>
    <source-file src="platforms/android/src/com/performanceactive/plugins/camera/CustomCamera.java" target-dir="src/com/performanceactive/plugins/camera" />
    <source-file src="platforms/android/src/com/performanceactive/plugins/camera/CustomCameraActivity.java" target-dir="src/com/performanceactive/plugins/camera" />
    <source-file src="platforms/android/src/com/performanceactive/plugins/camera/CustomCameraPreview.java" target-dir="src/com/performanceactive/plugins/camera" />
</platform>

</plugin>
