<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.performanceactive.gripcamera"
    version="1.0">

<name>Grip Camera</name>

<engines>
    <engine name="cordova" version=">=3.1.0" />
</engines>

<js-module src="www/js/gripcamera.js" name="gripCamera">
    <clobbers target="navigator.gripCamera" />
</js-module>

<platform name="ios">
    <config-file target="config.xml" parent="/*">
        <feature name="GripCamera">
            <param name="ios-package" value="GripCamera" />
        </feature>
    </config-file>
    <header-file src="platforms/ios/GripCamera/Plugins/GripCamera.h" />
    <header-file src="platforms/ios/GripCamera/Plugins/GripCameraViewController.h" />
    <source-file src="platforms/ios/GripCamera/Plugins/GripCamera.m" />
    <source-file src="platforms/ios/GripCamera/Plugins/GripCameraViewController.m" />
    <framework src="AVFoundation.framework" />
</platform>

<platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
        <feature name="GripCamera">
            <param name="android-package" value="com.performanceactive.gripcamera.GripCamera"/>
        </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/*">
        <uses-permission android:name="android.permission.CAMERA" />
        <uses-feature android:name="android.hardware.camera" />
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <activity android:name="com.performanceactive.gripcamera.GripCameraActivity" android:screenOrientation="portrait">
        </activity>
    </config-file>
    <source-file src="platforms/android/src/com/performanceactive/gripcamera/GripCamera.java" target-dir="src/com/performanceactive/gripcamera" />      
    <source-file src="platforms/android/src/com/performanceactive/gripcamera/GripCameraActivity.java" target-dir="src/com/performanceactive/gripcamera" />
    <source-file src="platforms/android/src/com/performanceactive/gripcamera/GripCameraPreview.java" target-dir="src/com/performanceactive/gripcamera" />
</platform>

</plugin>